{% extends "layout.html" %}

{% block body %}
<span id="timestamp">{{ timestamp }}</span>
<span id="class_id">{{ class_id }}</span>

<div class="main">
  <svg viewBox="0 0 218 227" xmlns="http://www.w3.org/2000/svg">
    <path class="inactive" d="M175 1H42L1 226H217L175 1Z" />
  </svg>
  <p class="green">
    Green - I am comfortable with my understanding and pacing of the lesson
  </p>
  <p class="yellow">
    Yellow - I am working through my understanding, I would benefit from the teacher slowing down or revisiting the current concept
  </p>
  <p class="red">
    Red - STOP! I am not understanding and I have a question
  </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let socket = io();
    let path = document.querySelector("path");
    let timestamp = parseFloat(document.getElementById("timestamp").innerHTML);
    let class_id = document.getElementById("class_id").innerHTML;
    
    function getCookie(name) {
      let value = `; ${document.cookie}`;
      let parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
    socket.on('connect', function() {
      socket.emit('register_student', timestamp, class_id);
      path.setAttribute('class', 'inactive');
    });

    socket.on('deactivate_old_tabs', function(data) {
      if (timestamp < data['timestamp']) {
        if (getCookie("student_id") == data['student_id']) {
          document.querySelector("body").innerHTML = '<h1>This tab is no longer active. Please close it or reload the page to reactivate it.</h1>'
          socket.disconnect();
        }
      }
    });

    Array.from(document.getElementsByTagName("p")).forEach(e => e.addEventListener("click",  function() {
      var new_color = this.className;
      path.setAttribute('class', '');
      path.classList.add(new_color);
      socket.emit('color_change', new_color);
    }))
  });
</script>
{% endblock %}
